div{text-align: center; font-size: x-large; color: #ffffff;}
body{background-image: url(pic/background.jpeg); background-repeat:none;  background-position: top center; background-size: 150%;}
h1{color: #ffffff;}